/**
 * Desktop Component Styles
 */

.desktop {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.noContent {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 1.5rem; // Add padding for HTML content windows
  height: 100%;
}

